# Create a Synapse personal access token (PAT) here:
# https://www.synapse.org/#!PersonalAccessTokens:
SYNAPSE_AUTH_TOKEN=<synapse-personal-access-token>

# Retrieve your Cavatica authentication token here:
# https://cavatica.sbgenomics.com/developer/token
SB_AUTH_TOKEN=<cavatica-authentication-token>
