[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = ">=2"
apache-airflow = ">=2.3"
synapseclient = "*"
sevenbridges-python = "*"
pandas = "*"

[dev-packages]
black = "*"
ipykernel = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"
