[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
synapseclient = "*"
prefect = {extras = ["viz"], version = "*"}
sevenbridges-python = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
