[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sagetasks = {editable = true, path = "."}

[dev-packages]
pre-commit = "*"
tox = "*"
sphinx-rtd-theme = "*"
setuptools = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
